<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
    </ion-buttons>
    <ion-title>কর্মকর্তা / কর্মচারীবৃন্দ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content"  >
  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="12"  *ngFor="let taxrecord of taxRecords">
          <ion-card class="speaker-card" >
            <ion-card-header style="padding-bottom: 0px;" >
              <ion-item detail="false" lines="none">
                <img
                  style="height:100px; width:100px; border-radius: 50%; margin-left:25%"
                  src="assets/img/employee-1.PNG"
                  alt="Speaker profile pic"
                />
              </ion-item>
              <ion-item>
                <h3><b>{{taxRecords.empname}}</b></h3>
              </ion-item>
            </ion-card-header>

            <ion-card-content style="padding-top: 0px; padding-bottom: 0px;">
              <ion-list>
                <ion-item>
                  <h3>সহকারী কমিশনার (ভূমি)</h3>
                </ion-item>

                <ion-item>
                  <h3>মোবাইলঃ <b>01705430525</b></h3>
                </ion-item>
                <ion-item>
                  <h3>ফোন-অফিসঃ <b>0723356028</b></h3>
                </ion-item>
                <ion-item>
                  <h3>ই-মেইলঃ <b>aclandbagha2@gmail.com</b></h3>
                </ion-item>
                <ion-item>
                  <h3>ব্যাচ -বিসিএসঃ <b>33</b></h3>
                </ion-item>
                <ion-item>
                  <h3>বর্তমান কর্মস্থলে যোগদানের তারিখঃ <b>2019-02-13</b></h3>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>