<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
    </ion-buttons>
    <ion-title>Find Licence No.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding speaker-detail">
  <div class="ion-text-center">

    <form novalidate>
      <ion-list>
        <ion-item style="margin-top:10px">
          <ion-label>Select Pourosova</ion-label>
          <ion-select #pourosovaId="ngModel" [(ngModel)]="licence.pourosovaId" name="pourosovaId" (ionChange)="pourosovaDDLChange(licence.pourosovaId)"  value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option *ngFor="let c of pourosova"  [value]="c.key">
              {{ c.pourosovaName }}
             </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item style="margin-top:10px">
          <ion-label>Select HAT</ion-label>
          <ion-select #hatId="ngModel" [(ngModel)]="licence.hatId" name="hatId" (ionChange)="hatDDLChange(licence.hatId)" value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option *ngFor="let c of searchHats"  [value]="c.key">
              {{ c.hatName }}
             </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item style="margin-top:10px">
          <ion-label>Select Licence No.</ion-label>
          <ion-select #licenceId="ngModel" [(ngModel)]="licence.licenceId" name="licenceId"  value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option *ngFor="let c of searchLicences"  [value]="c.key">
              {{ c.licenceNo }}
             </ion-select-option>
          </ion-select>


        </ion-item>


      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button type="submit" expand="block">Search</ion-button>
        </ion-col>
      </ion-row>
    </form>



  </div>


</ion-content>