<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
    </ion-buttons>
    <ion-title>Information Input Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding speaker-detail">
  <div class="ion-text-center">
    <form novalidate>
      <ion-list>
        <ion-item>
          <ion-label>সিলেক্ট ইউনিয়ন/পৌরসভা</ion-label>
          <ion-select
            #pourosovaId="ngModel"
            [(ngModel)]="userInfo.pourosovaId"
            name="pourosovaId"
            (ionChange)="pourosovaDDLChange(userInfo.pourosovaId)"
            value="brown"
            okText="Okay"
            cancelText="Dismiss"
            required
          >
            <ion-select-option *ngFor="let c of pourosova" [value]="c.key">
              {{ c.pourosovaName }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label> সিলেক্ট হাঁট</ion-label>
          <ion-select
            #hatId="ngModel"
            [(ngModel)]="userInfo.hatId"
            name="hatId"
            (ionChange)="hatDDLChange(userInfo.hatId)"
            value="brown"
            okText="Okay"
            cancelText="Dismiss"
            required
          >
            <ion-select-option *ngFor="let c of searchHats" [value]="c.key">
              {{ c.hatName }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>সিলেক্ট লাইসেন্স নং</ion-label>
          <ion-select
            #licenceNo="ngModel"
            [(ngModel)]="userInfo.licenceNo"
            name="licenceNo"
            value="brown"
            okText="Okay"
            cancelText="Dismiss"
            required
          >
            <ion-select-option *ngFor="let c of searchLicences" [value]="c.key">
              {{ c.licenceNo }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">মালিকের নাম</ion-label>
          <ion-input
            #malikerName="ngModel"
            [(ngModel)]="userInfo.malikerName"
            name="malikerName"
            type="text"
            name="title"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">পিতার নাম </ion-label>
          <ion-input
            #montobbo="ngModel"
            [(ngModel)]="userInfo.montobbo"
            name="montobbo"
            type="text"
            name="title"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">সাং</ion-label>
          <ion-input
            #union="ngModel"
            [(ngModel)]="userInfo.union"
            name="union"
            type="text"
            name="title"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">মৌজা</ion-label>
          <ion-input
            #mouja="ngModel"
            [(ngModel)]="userInfo.mouja"
            name="mouja"
            type="text"
            name="title"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">দাগ নং</ion-label>
          <ion-input
            #korerDhoron="ngModel"
            [(ngModel)]="userInfo.korerDhoron"
            name="korerDhoron"
            type="text"
            name="title"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">পজিশন নং</ion-label>
          <ion-input
            #holdingNo="ngModel"
            [(ngModel)]="userInfo.holdingNo"
            name="holdingNo"
            type="text"
            name="title"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">জমির পরিমাণ</ion-label>
          <ion-input
            #jomirPoriman="ngModel"
            [(ngModel)]="userInfo.jomirPoriman"
            name="jomirPoriman"
            type="text"
            name="title"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">সর্বশেষ খাজনা পরিশোধের বছর</ion-label>
          <ion-input
            #sorbosesKhajnaPorisodherBosor="ngModel"
            [(ngModel)]="userInfo.sorbosesKhajnaPorisodherBosor"
            name="sorbosesKhajnaPorisodherBosor"
            type="text"
            name="title"
            required
          ></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label position="floating">বকেয়া বছর</ion-label>
          <ion-input #bokeyaBosor="ngModel" [(ngModel)]="userInfo.bokeyaBosor" name="bokeyaBosor" type="text" name="title" required></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label position="floating">বকেয়া দাবি </ion-label>
          <ion-input
            #bokeyaDabi="ngModel"
            [(ngModel)]="userInfo.bokeyaDabi"
            name="bokeyaDabi"
            type="text"
            name="title"
            required
          ></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label position="floating">বকেয়া দাবির সুদ</ion-label>
          <ion-input #bokeyaDabirSud="ngModel" [(ngModel)]="userInfo.bokeyaDabirSud" name="bokeyaDabirSud" type="text" name="title" required></ion-input>
        </ion-item> -->
        <!-- <ion-item>
          <ion-label position="floating">হাল দাবি </ion-label>
          <ion-input #halDabi="ngModel" [(ngModel)]="userInfo.halDabi" name="halDabi" type="text" name="title" required></ion-input>
        </ion-item> -->
        <!-- <ion-item>
          <ion-label position="floating">মোট দাবি </ion-label>
          <ion-input #motDabi="ngModel" [(ngModel)]="userInfo.motDabi" name="motDabi" type="text" name="title" required></ion-input>
        </ion-item> -->
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button (click)="save(userInfo)" type="submit" expand="block"
            >Submit</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
