<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
    </ion-buttons>
    <ion-title>পেমেন্ট মাধ্যমঃ বিকাশ </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6">
          <ion-card class="speaker-card">


            <ion-card-content>
              <ion-list>
                <ion-item>
                  <h3>ডায়াল করুন : <span style="font-size:15px"><b>*247#</b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>সিলেক্ট করুন : <span style="font-size:15px"><b>1. Send Money </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>বিকাশ নাম্বার দিন : <span style="font-size:15px"><b>01705430525</b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>টাকার পরিমাণ লিখুন : <span style="font-size:15px"><b>{{Motdabi}}</b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>রেফারেন্স নাম্বার দিন : <span style="font-size:15px"><b>1</b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>বিকাশ অ্যাকাউন্ট এর পাসওয়ার্ড দিন: <span style="font-size:15px"><b>(Your Password)</b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>সেন্ড বাটন এ ক্লিক করুন: <span style="font-size:15px"><b>Send</b></span></h3>
                </ion-item>
                <ion-item>
                  <h3><b>ট্রানজ্যাকশন নাম্বার টি এবং যে নাম্বার দিয়ে বিকাশ করেছেন তা সংরক্ষণ করুন</b></h3>
                </ion-item>

              </ion-list>
              <ion-row>
                <ion-col>
                  <ion-button  type="submit" (click)="typeofGettingRecit()" expand="block">পরবর্তী ধাপ</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>


          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>