<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment Approve Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider sticky> </ion-item-divider>

      <ion-item-sliding  *ngFor="let user of userInfos">
        <ion-item [routerLink]="['/aprovepayment-details',user.key]">
          <ion-label>
            <h3>{{user.malikerName}}</h3>
            <p>
              Due Amount: <span><b>{{user.motDabi}}</b></span>
            </p>
          </ion-label>
        </ion-item>
      
        
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>
