<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
    </ion-buttons>
    <ion-title>Licence Records</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="outer-content">
  <ion-list>
    <ion-grid fixed>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md="6">
          <ion-card class="speaker-card">
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <h3>মালিকের নাম : <span style="font-size:15px"><b>ফাহিম ফেরদৌস </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>ইউনিয়ন : <span style="font-size:15px"><b>খিলখেত </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>মৌজা : <span style="font-size:15px"><b>নিকুঞ্জ </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>করের ধরন : <span style="font-size:15px"><b>বাকি</b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>হোল্ডিং নং : <span style="font-size:15px"><b>৬৭ই </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>জমির পরিমাণ : <span style="font-size:15px"><b>৫ শতাংশ </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>সর্বশেষ খাজনা পরিশোধের বছর : <span style="font-size:15px"><b>২০১৮ </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>বকেয়া বছর : <span style="font-size:15px"><b>২ </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>বকেয়া দাবি : <span style="font-size:15px"><b>৩০০০০ টাকা </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>বকেয়া দাবির সুদ : <span style="font-size:15px"><b>১০০০ টাকা </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>হাল দাবি : <span style="font-size:15px"><b>৫০০ টাকা </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3>মোট দাবি : <span style="font-size:15px"><b>৩১৫০০ টাকা </b></span></h3>
                </ion-item>
                <ion-item>
                  <h3> মন্তব্য : <span style="font-size:15px"><b>পরিশোধ </b></span></h3>
                </ion-item>



              </ion-list>
              <ion-row>
                <ion-col>
                  <ion-button type="submit" expand="block">Next</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>


          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>