<ion-header>
  <ion-toolbar>
    <ion-title>aprovepayment-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          1 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          2 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          3 of 3
        </div>
      </ion-col>
      <ion-col>
        <div>
          4 of 4
        </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ngx-datatable
  [rows]="userInfos">
   
  <ngx-datatable-column  name="malikerName"></ngx-datatable-column>
  <ngx-datatable-column  name="motDabi"></ngx-datatable-column>
  <ngx-datatable-column  name="bokeyaDabi"></ngx-datatable-column>
  </ngx-datatable>
</ion-content>
